# Imports

In [24]:
import pandas

# Load Data

In [33]:
train_data = pandas.read_csv("data/train_data.csv", chunksize=100)
train_labels = pandas.read_csv("data/train_labels.csv", chunksize=100)
test_data = pandas.read_csv("data/test_data.csv", chunksize=100)

# Unpack Data

In [34]:
for chunk_train_data in train_data:
    break
for chunk_train_labels in train_labels:
    break
for chunk_test_data in test_data:
    break

# Inspect Data

In [35]:
chunk_train.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
21800,0103c7f79b92532b27ee39c5ec1f43d07fbecacc614b32...,2017-09-06,0.458818,0.303157,0.233194,0.123342,0.008285,0.156916,0.004380,0.146462,...,NaN,NaN,NaN,0.002943,0.004241,0.002084,NaN,0.003154,0.006877,0.002134
21801,0103c7f79b92532b27ee39c5ec1f43d07fbecacc614b32...,2017-10-24,0.458746,0.009262,0.220847,0.084726,0.002862,0.160364,0.009817,0.168452,...,NaN,NaN,NaN,0.002696,0.001553,0.002381,NaN,0.000344,0.009771,0.003495
21802,0103c7f79b92532b27ee39c5ec1f43d07fbecacc614b32...,2017-11-30,0.524592,0.124670,0.235808,0.054217,0.003353,0.162972,0.009794,0.195048,...,NaN,NaN,NaN,0.001756,0.007371,0.002215,NaN,0.003081,0.002325,0.004274
21803,0103c7f79b92532b27ee39c5ec1f43d07fbecacc614b32...,2017-12-31,0.521477,0.119769,0.323759,0.032230,0.257293,0.156391,0.000137,0.221505,...,NaN,NaN,NaN,0.004700,0.006918,0.005996,NaN,0.006650,0.007907,0.005418
21804,0103c7f79b92532b27ee39c5ec1f43d07fbecacc614b32...,2018-01-09,0.527734,0.387319,0.349151,0.034638,0.255654,0.152472,0.002297,0.227582,...,NaN,NaN,NaN,0.002297,0.005717,0.005261,NaN,0.005029,0.005469,0.003553

In [36]:
print("\033[1mColumns\033[0m")
print(*chunk_train.columns, sep=", ")

Columns
customer_ID, S_2, P_2, D_39, B_1, B_2, R_1, S_3, D_41, B_3, D_42, D_43, D_44, B_4, D_45, B_5, R_2, D_46, D_47, D_48, D_49, B_6, B_7, B_8, D_50, D_51, B_9, R_3, D_52, P_3, B_10, D_53, S_5, B_11, S_6, D_54, R_4, S_7, B_12, S_8, D_55, D_56, B_13, R_5, D_58, S_9, B_14, D_59, D_60, D_61, B_15, S_11, D_62, D_63, D_64, D_65, B_16, B_17, B_18, B_19, D_66, B_20, D_68, S_12, R_6, S_13, B_21, D_69, B_22, D_70, D_71, D_72, S_15, B_23, D_73, P_4, D_74, D_75, D_76, B_24, R_7, D_77, B_25, B_26, D_78, D_79, R_8, R_9, S_16, D_80, R_10, R_11, B_27, D_81, D_82, S_17, R_12, B_28, R_13, D_83, R_14, R_15, D_84, R_16, B_29, B_30, S_18, D_86, D_87, R_17, R_18, D_88, B_31, S_19, R_19, B_32, S_20, R_20, R_21, B_33, D_89, R_22, R_23, D_91, D_92, D_93, D_94, R_24, R_25, D_96, S_22, S_23, S_24, S_25, S_26, D_102, D_103, D_104, D_105, D_106, D_107, B_36, B_37, R_26, R_27, B_38, D_108, D_109, D_110, D_111, B_39, D_112, B_40, S_27, D_113, D_114, D_115, D_116, D_117, D_118, D_119, D_120, D_121, D_122, D_123, D_124, D_125, D_126, D_127, D_128, D_129, B_41, B_42, D_130, D_131, D_132, D_133, R_28, D_134, D_135, D_136, D_137, D_138, D_139, D_140, D_141, D_142, D_143, D_144, D_145

In [37]:
chunk_train_labels.head()

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [38]:
print("\033[1mColumns\033[0m")
print(*chunk_train_labels.columns, sep=", ")

Columns
customer_ID, target

In [39]:
chunk_test_data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-02-19,0.631315,0.001912,0.010728,0.814497,0.007547,0.168651,0.009971,0.002347,...,NaN,NaN,NaN,NaN,0.004669,NaN,NaN,NaN,0.008281,NaN
1,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-03-25,0.587042,0.005275,0.011026,0.810848,0.001817,0.241389,0.000166,0.009132,...,NaN,NaN,NaN,0.000142,0.004940,0.009021,NaN,0.003695,0.003753,0.001460
2,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-04-25,0.609056,0.003326,0.016390,1.004620,0.000114,0.266976,0.004196,0.004192,...,NaN,NaN,NaN,0.000074,0.002114,0.004656,NaN,0.003155,0.002156,0.006482
3,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-05-20,0.614911,0.009065,0.021672,0.816549,0.009722,0.188947,0.004123,0.015325,...,NaN,NaN,NaN,0.004743,0.006392,0.002890,NaN,0.006044,0.005206,0.007855
4,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-06-15,0.591673,0.238794,0.015923,0.810456,0.002026,0.180035,0.000731,0.011281,...,NaN,NaN,NaN,0.008133,0.004329,0.008384,NaN,0.001008,0.007421,0.009471

In [40]:
print("\033[1mColumns\033[0m")
print(*chunk_test_data.columns, sep=", ")

Columns
customer_ID, S_2, P_2, D_39, B_1, B_2, R_1, S_3, D_41, B_3, D_42, D_43, D_44, B_4, D_45, B_5, R_2, D_46, D_47, D_48, D_49, B_6, B_7, B_8, D_50, D_51, B_9, R_3, D_52, P_3, B_10, D_53, S_5, B_11, S_6, D_54, R_4, S_7, B_12, S_8, D_55, D_56, B_13, R_5, D_58, S_9, B_14, D_59, D_60, D_61, B_15, S_11, D_62, D_63, D_64, D_65, B_16, B_17, B_18, B_19, D_66, B_20, D_68, S_12, R_6, S_13, B_21, D_69, B_22, D_70, D_71, D_72, S_15, B_23, D_73, P_4, D_74, D_75, D_76, B_24, R_7, D_77, B_25, B_26, D_78, D_79, R_8, R_9, S_16, D_80, R_10, R_11, B_27, D_81, D_82, S_17, R_12, B_28, R_13, D_83, R_14, R_15, D_84, R_16, B_29, B_30, S_18, D_86, D_87, R_17, R_18, D_88, B_31, S_19, R_19, B_32, S_20, R_20, R_21, B_33, D_89, R_22, R_23, D_91, D_92, D_93, D_94, R_24, R_25, D_96, S_22, S_23, S_24, S_25, S_26, D_102, D_103, D_104, D_105, D_106, D_107, B_36, B_37, R_26, R_27, B_38, D_108, D_109, D_110, D_111, B_39, D_112, B_40, S_27, D_113, D_114, D_115, D_116, D_117, D_118, D_119, D_120, D_121, D_122, D_123, D_124, D_125, D_126, D_127, D_128, D_129, B_41, B_42, D_130, D_131, D_132, D_133, R_28, D_134, D_135, D_136, D_137, D_138, D_139, D_140, D_141, D_142, D_143, D_144, D_145